/* Review Page */
.review-page__page-heading__text {
  color: var(--color-primary-darker);
}

.review-page__page-heading__link {
  text-align: right;
  margin-top: 1.8em;
}

.review-page__page-info__label-text {
  color: var(--color-gray);
}

.review-page__page-info__value-text {
  color: var(--color-gray-dark);
  font-size: 18px;
}
